$margin-main: 28px;

.contracts-page {
  &-section--header {
    margin: 56px 0 $margin-main $margin-main;

    &-container {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;

      &-image {
        position: absolute;
        right: 0;
      }
    }
  }

  &-section--actions {
  }

  &-section--contracts {
  }
}
