.horizontal-menu {
  display: flex;
  flex-direction: column;

  &--link {
    color: $light-100;
    text-decoration: none;
    padding: 16px;

    &:hover {
      background-color: $dark-500;
      cursor: pointer;
    }
  }
}
