.action-link {
  color: $dark-200;
  display: flex;
  align-items: center;
  width: fit-content;

  &:hover {
    color: $primary-400;
  }

  &,
  & > * {
    cursor: pointer;
  }

  &__icon {
    margin-right: 5px;
  }
}
