.igs-button {
  min-width: 148px;
  padding: 8px;

  &:hover {
    cursor: pointer;
  }

  border: none;
  color: #fff;
  border-radius: 8px;

  &--success {
    background: $gradient-01;
  }

  &--primary {
    background: $gradient-02;
  }

  &--rounded {
    border-radius: 24px;
  }
}
