.igs-button {
  font-size: 14px;
  font-weight: bold;

  padding: 8px 40px;
  height: 40px;

  &:hover {
    cursor: pointer;
  }

  border: none;
  color: #fff;
  border-radius: 8px;

  &--success {
    background: $gradient-04;
  }

  &--primary {
    background: $gradient-07;
  }

  &--secondary {
    background: $gradient-09;
  }

  &--dark {
    background: $dark-400;
    color: $dark-200;

    &:hover {
      background: $dark-300;
      color: $dark-100;
    }
  }

  &--danger {
    background: $gradient-02;
  }

  &--rounded {
    border-radius: 24px;
  }
}
