.employee-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  overflow: auto;

  &__deals {
    overflow-y: auto;
  }

  &__solutions {
    background-color: #181822;
    overflow-y: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
