.checkbox {
  $parent: &;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &,
  & > * {
    cursor: pointer;
  }

  &__input {
    border-radius: 4px;
    border: 2px solid $primary-400;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 11px;

    #{$parent}__icon {
      display: none;
    }

    &--checked {
      background-color: $primary-400;
      color: #fff;

      #{$parent}__icon {
        display: block;
      }
    }

    &--disabled {
      background-color: $light-300;
    }
  }

  &__label {
    color: $dark-100;
  }

  &__description {
    color: $dark-200;
  }
}
