.igs-input {
  $parent: &;

  background-color: $dark-400;
  display: flex;
  padding: 13px;
  border: 2px solid $dark-300;
  box-sizing: border-box;
  border-radius: 8px;
  align-items: center;
  max-height: 65px;
  cursor: text;
  position: relative;

  &--active {
    border-bottom: 2px solid transparent;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    #{$parent}__dropdown {
      display: block;
    }
  }

  &--underline {
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 2px;
    padding: 13px 0;
    background: transparent;
  }

  &--underline:focus-within {
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 2px;
  }

  &__container {
    display: flex;
    justify-content: between;
    flex-direction: column;
    width: 100%;

    #{$parent}__label {
      // TODO: find a better way to handle cursor
      cursor: text;
      color: $dark-200;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
    }

    #{$parent}__field {
      border: none;
      appearance: none;
      background-color: transparent;
      color: $light-300;
      padding: 2px 0 0;
      margin: 0;
      font-size: 14px;
      width: inherit;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $dark-300;
      }
    }
  }

  &__dropdown {
    position: absolute;
    left: -2px;
    top: 60px;
    background-color: inherit;
    display: none;
    border: 2px solid $dark-300;
    border-top: none;
    width: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-bottom: 13px;

    &--item {
      display: flex;
      align-items: center;
      margin-left: 13px;
      color: $dark-200;

      &:hover {
        color: $light-100;
        cursor: pointer;
      }
    }

    &--arrow {
      margin-right: 11px;
    }
  }

  #{$parent}__icon {
    color: $dark-200;
  }

  #{$parent}__icon--pre {
    margin-right: 10px;
  }

  #{$parent}__icon--post {
    margin-left: 10px;
  }
}
