.igs-input {
  $parent: &;

  background-color: $dark-400;
  display: flex;
  padding: 13px;
  border: 2px solid $dark-300;
  box-sizing: border-box;
  box-shadow: inset 0 0.5px 4px rgb(0 0 0 / 32%);
  border-radius: 8px;

  &:focus-within {
    border: 2px solid $primary-400;
  }

  &__container {
    display: flex;
    flex-direction: column;

    #{$parent}__label {
      color: $dark-200;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
    }

    #{$parent}__field {
      border: none;
      appearance: none;
      background-color: transparent;
      color: $light-300;
      padding: 2px 0 0;
      margin: 0;
      font-size: 14px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $dark-300;
      }
    }
  }
}
