.select-input {
  $parent: &;

  width: 400px;
  background-color: $dark-400;
  padding: 13px;
  border: 2px solid $dark-300;
  border-radius: 8px;
  max-height: 65px;
  position: relative;
  cursor: pointer;

  &--icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
  }

  &--active {
    border-bottom: 2px solid transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    #{$parent}__dropdown {
      display: block;
    }
  }

  &__label {
    color: $dark-200;
  }

  &__value {
    color: $light-100;
  }

  &__dropdown {
    position: absolute;
    left: -2px;
    top: 63px;
    background-color: inherit;
    display: none;
    border: 2px solid $dark-300;
    border-top: none;
    width: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-bottom: 13px;
    z-index: 3;

    &--item {
      display: flex;
      align-items: center;
      margin-left: 13px;
      color: $dark-200;

      &:hover {
        color: $light-100;
        cursor: pointer;
      }
    }

    &--arrow {
      margin-right: 11px;
    }
  }
}
