.select-input {
  $parent: &;

  background-color: $dark-400;
  display: flex;
  padding: 13px;
  border: 2px solid $dark-300;
  box-sizing: border-box;
  box-shadow: inset 0 0.5px 4px rgb(0 0 0 / 32%);
  border-radius: 8px;
  align-items: center;
  max-height: 65px;

  &:focus-within {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    box-shadow: none;
  }

  &__wrapper {
    width: 100%;

    #{$parent}__label {
      color: $dark-200;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
    }

    #{$parent}__container {
      width: 100%;
      display: flex;
      align-items: center;

      #{$parent}__icon {
        margin-top: 0.3em;
        margin-right: 11px;
      }

      #{$parent}__field {
        width: 100%;
        border: none;
        appearance: none;
        background-color: transparent;
        color: $light-300;
        padding: 2px 0 0;
        margin: 0;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $dark-300;
        }
      }

      &__placeholder {
        color: $dark-300;
      }
    }
  }
}

.select-input-parent {
  position: relative;

  &__dropdown {
    position: absolute;
    width: 99%;
    background-color: $dark-400;
    color: $dark-200;
    display: none;
    z-index: 3;
    border: 2px solid $dark-300;
    border-radius: 8px;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-bottom: 11px;

    &--show {
      display: block;
    }

    &--item:first-child {
      padding-top: 0;
    }

    &--item {
      padding: 0 13px 4px 13px;
      display: flex;
      align-items: center;
      font-size: 14px;

      &:hover {
        color: $dark-100;
        cursor: pointer;
      }

      &:first-child {
        // margin-top: 11px;
      }

      &:last-child {
        // margin-bottom: 11px;
      }
    }

    &--icon {
      margin-right: 11px;
    }
  }
}
