.login-page {
  display: grid;
  grid-template-columns: 1fr 600px;
  height: 100vh;

  &__logo {
    margin-bottom: 32px;
  }
  &-section-left,
  &-section-right {
    display: flex;

    justify-content: center;
  }
  &-section-left {
    align-items: center;
  }
  &-section-right {
    padding: 0 64px;
    flex-direction: column;
  }

  &-section-left {
    background-color: $dark-400;
  }

  &-section-right {
    background-color: $dark-500;
  }
}
