.register {
  display: flex;
  align-items: center;
  height: 100vh;

  &__form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  &-bg {
    position: absolute;
    height: 85vh;
    bottom: 0;
    right: 0;
  }
}
