// Input Font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@import "variables";

@import "../components/inputs/InputField.scss";
@import "../components/layout/sidenav/SideNav.scss";
@import "../components/layout/Layout.scss";
@import "../components/button/Button.scss";
@import "../components/layout/header/Header.scss";
@import "../pages/auth/Login.scss";
@import "../components/chart/Chart.scss";

body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Inter", sans-serif;
  background-color: $dark0;
}
