// Input Font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@import "variables";
@import "../components/text/IGSText";
@import "../components/inputs/IGSInput";
@import "../components/layout/sidenav/SideNav";
@import "../components/layout/Layout";
@import "../components/button/Button";
@import "../components/layout/header/Header";
@import "../pages/auth/Login";
@import "../components/card/Card";
@import "../pages/EmployeeDashboard/components/employeeIdCard/EmployeeIdCard";
@import "../pages/EmployeeDashboard/components/employeeCard/EmployeeCard";
@import "../pages/EmployeeDashboard/Employees";
@import "../pages/Contracts/Contracts";
@import "../pages/Contracts/components/CounterCard";
@import "../pages/Contracts/components/ContractCard";
@import "../components/inputs/SelectInput";
@import "../components/inputs/RadioGroup";

body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: Inter, sans-serif;
  background-color: $dark-500;
}
