// Input Font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@import "variables";
@import "../components/text/Text";
@import "../components/inputs/InputField";
@import "../components/layout/sidenav/SideNav";
@import "../components/layout/Layout";
@import "../components/button/Button";
@import "../components/layout/header/Header";
@import "../pages/auth/Login";
@import "../components/text/Text.scss";
@import "../components/inputs/InputField.scss";
@import "../components/layout/sidenav/SideNav.scss";
@import "../components/layout/Layout.scss";
@import "../components/button/Button.scss";
@import "../components/layout/header/Header.scss";
@import "../pages/auth/Login.scss";
@import "../components/card/Card.scss";
@import "../components/avatar/Avatar.scss";
@import "../partials/employeeIdCard/EmployeeIdCard.scss";
@import "../partials/employeeCard/EmployeeCard.scss";
@import "../pages/Employees.scss";

body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: Inter, sans-serif;
  background-color: $dark-500;
}
