.igs-container {
  display: grid;
  grid-template:
    "sidenav header" 50px
    "sidenav main" 1fr
    "sidenav footer" 50px / 240px 1fr;
  height: 100vh;

  .main {
    grid-area: main;
    background-color: $dark-500;
    overflow: auto;
  }

  .footer {
    padding: 0;
    grid-area: footer;
    background-color: $dark-400;
  }
}
