.igs-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;

  .main {
    grid-area: main;
    background-color: $dark-500;
  }

  .footer {
    grid-area: footer;
    background-color: $dark-400;
  }
}
