.igs-card {
  background-color: $dark-400;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-shadow: $elivation-3-dark;

  &--radius-half {
    border-radius: 8px;
  }

  &--radius-none {
    border-radius: 0;
  }

  &--no-shadow {
    box-shadow: none;
  }

  &--border {
    border: 2px solid $dark-300;
  }
}
