.igs-timeline {
  margin: 0;
  list-style: none;
  padding: 0 2rem;

  --unit: 1rem;

  $timeline: &;

  &__title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__dh {
    font-size: 13px;
  }

  &__dd {
    font-size: 13px;
  }

  &__lead {
    margin: 0;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
  }

  &__card {
    position: relative;
    display: block;
    background-color: $dark-400;
    padding: 1rem;
    min-height: 7rem;
    margin-bottom: 2rem;

    --height: 7rem;

    &--warning {
      background-color: $yellow-200;
      border-color: $yellow-200;

      #{$timeline}__title {
        color: $dark-500;
      }

      #{$timeline}__lead {
        color: $dark-500;
      }

      #{$timeline}__dh {
        color: $dark-400;
      }

      #{$timeline}__dd {
        color: $dark-400;
      }
    }

    &--dark {
      background-color: $dark-400;
      border-color: $dark-400;

      #{$timeline}__title {
        color: $dark-100;
      }

      #{$timeline}__lead {
        color: $light-100;
      }

      #{$timeline}__dh {
        color: $dark-200;
      }

      #{$timeline}__dd {
        color: $light-100;
      }
    }

    &--dark-2 {
      background-color: $dark-300;
      border-color: $dark-300;

      #{$timeline}__title {
        color: $light-500;
      }

      #{$timeline}__lead {
        color: $light-100;
      }

      #{$timeline}__dh {
        color: $dark-200;
      }

      #{$timeline}__dd {
        color: $light-100;
      }
    }

    &--primary {
      background-color: $primary-400;
      border-color: $primary-400;
    }

    &--danger {
      background-color: $red-400;
      border-color: $red-400;

      #{$timeline}__title {
        color: $light-100;
      }

      #{$timeline}__lead {
        color: $light-100;
      }

      #{$timeline}__dh {
        color: $light-400;
      }

      #{$timeline}__dd {
        color: $light-400;
      }
    }

    &--success {
      background-color: $green-500;
      border-color: $green-500;
    }

    &::before {
      content: "";
      background-color: inherit;
      position: absolute;
      display: block;
      width: var(--unit);
      height: var(--unit);
      top: 100%;
      left: calc(50% - (var(--unit) / 2));
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: calc(100% + var(--unit));
      left: calc(50% - (var(--unit)));
      border: var(--unit) solid transparent;
      border-top-color: inherit;
    }

    &:last-child {
      &::before,
      &::after {
        content: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .igs-timeline {
    max-width: 1600px;
    margin: 0 auto;

    &__card {
      margin: 1rem;
      width: calc(25% - 4rem);
      float: left;
      min-height: 7rem;

      &:nth-child(8n + 5),
      &:nth-child(8n + 6),
      &:nth-child(8n + 7),
      &:nth-child(8n + 8) {
        float: right;
      }

      &:nth-child(8n + 1)::before,
      &:nth-child(8n + 2)::before,
      &:nth-child(8n + 3)::before {
        top: calc(var(--height) / 2 + var(--unit) / 2);
        left: 100%;
      }

      &:nth-child(8n + 1)::after,
      &:nth-child(8n + 2)::after,
      &:nth-child(8n + 3)::after {
        top: calc(var(--height) / 2);
        left: calc(100% + (var(--unit)));
        border: var(--unit) solid transparent;
        border-left-color: inherit;
      }

      &:nth-child(8n + 5)::before,
      &:nth-child(8n + 6)::before,
      &:nth-child(8n + 7)::before {
        top: calc(var(--height) / 2 + var(--unit) / 2);
        left: -1rem;
      }

      &:nth-child(8n + 5)::after,
      &:nth-child(8n + 6)::after,
      &:nth-child(8n + 7)::after {
        top: calc(var(--height) / 2);
        left: -3rem;
        border: var(--unit) solid transparent;
        border-right-color: inherit;
      }
    }
  }
}
