.wizard {
  $parent: &;

  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $dark-500;
  display: none;
  grid-template:
    "wizard-header" 70px
    "wizard-body" 1fr
    "wizard-footer" 100px / 1fr;

  &--show {
    display: grid;
  }

  &__header {
    grid-area: wizard-header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    background-color: $dark-400;
  }

  &__body {
    grid-area: wizard-body;
    overflow: auto;
    position: relative;
    padding: 64px;

    #{$parent}__progress {
      position: fixed;
      top: 70px;
      left: 0;
      width: 100%;
      height: 5px;

      &--bar {
        background: $gradient-07;
        position: absolute;
        height: 5px;
        z-index: 999;
      }

      &--bg {
        background-color: $dark-300;
        position: absolute;
        width: 100%;
        height: 5px;
        z-index: 998;
      }
    }
  }

  &__footer {
    grid-area: wizard-footer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;

    &--text {
      position: absolute;
      display: flex;
      align-items: center;
      left: 40px;
      cursor: pointer;
    }

    &--icon {
      margin-right: 11px;
    }
  }
}
